.slider {
    padding-bottom: 32%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 96%;
}

.slider ul {
    list-style: none;
}

@-webkit-keyframes anim_slider {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes anim_slider {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes anim_slider {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.slider ul li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-name: anim_slider;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -moz-animation-name: anim_slider;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -ms-animation-name: anim_slider;
    -ms-animation-duration: 24.0s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: normal;
}

.slider ul li:nth-child(2), .slider ul li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
    -ms-animation-delay: 6.0s;
}

.slider ul li:nth-child(3), .slider ul li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
    -ms-animation-delay: 12.0s;
}

.slider ul li:nth-child(4), .slider ul li:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
    -ms-animation-delay: 18.0s;
}

.slider ul li img {
    display: block;
    width: 120%;
    height: auto;
}

@-webkit-keyframes anim_titles {
    0% {
        left: 100%;
        opacity: 0;
    }
    5% {
        left: 10%;
        opacity: 1;
    }
    20% {
        left: 10%;
        opacity: 1;
    }
    25% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@-moz-keyframes anim_titles {
    0% {
        left: 100%;
        opacity: 0;
    }
    5% {
        left: 10%;
        opacity: 1;
    }
    20% {
        left: 10%;
        opacity: 1;
    }
    25% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@-ms-keyframes anim_titles {
    0% {
        left: 100%;
        opacity: 0;
    }
    5% {
        left: 10%;
        opacity: 1;
    }
    20% {
        left: 10%;
        opacity: 1;
    }
    25% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

.slider ul li div {
    padding: 1rem;
    border-radius: 10px;
    left: 10%;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    width: 40%;
    -webkit-box-shadow: -10px 0 13px -7px #000000, 10px 0 13px -7px #000000, 0 -2px 7px 9px rgba(0, 0, 0, 0.07);
    box-shadow: -10px 0 13px -7px #000000, 10px 0 13px -7px #000000, 0 -2px 7px 9px rgba(0, 0, 0, 0.07);
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    text-align: center;
    text-shadow: black 4px 0 4px;
    font-size: 2vw;
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -ms-animation-name: anim_titles;
    -ms-animation-duration: 24.0s;
    -ms-animation-timing-function: linear;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: normal;
}

.line {
    margin: 1.5rem auto;
    width: 50%;
    height: 3px;
    background-color: #6A757A;
}

.about {
    width: 96%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.about_item {
    border: 2px solid #597886;
    width: 30%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    position: relative;
    background-color: #6A8592;
}

.about_title {
    position: relative;
    padding: 0.6rem 1.8rem 0 0;
    color: #0F1E2C;
    text-align: right;
}

.about_title:before {
    position: absolute;
    top: 0;
    left: 1.4rem;
    width: 60px;
    height: 50px;
    display: block;
    content: '';
    background-image: url("images/sprite.png");
}

.about_item:nth-of-type(1) .about_title:before {
    background-position: 0 0;
}

.about_item:nth-of-type(2) .about_title:before {
    background-position: -60px 0;
}

.about_item:nth-of-type(3) .about_title:before {
    background-position: -120px 0;
}

.about_text {
    color: #eef3f6;
    margin: 0 1.2rem 0.3rem;
    text-align: justify;
    text-indent: 4.5em;
}

.about_btn {
    height: 1.75rem;
    width: 2.18rem;
    display: inline-block;
    float: right;
    margin: 0 1.2rem 0.7rem 0;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.about_btn:hover {
    background-image: url("images/arrow_two.png");
    background-repeat: no-repeat;
}

.about_item:after {
    display: none;
    content: '';
    clear: right;
}

.box {
    display: none;
}

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 88%;
    margin: 2rem auto 0.5rem;
    padding: 0;
    justify-content: space-between;
}

.news_item {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 4px;
    width: 48%;
    margin-bottom: 1.5rem;
    padding: 0.7rem;
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.news_item:hover {
    border: 2px solid #597886;
    background-color: #6A8592;
    color: white;
}

.news_item:active {
    top: 1px;
    background: #6A8592;
    -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.64);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.64);
}

.news_item p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.news_img {
    float: left;
    margin: 0.2rem 0.8rem 0 0;
}

.news_item:after {
    display: none;
    content: '';
    clear: both;
}

@media screen and (max-width: 950px) {
    .slider {
        padding-bottom: 31%;
    }

    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.8em 0 2em 0;
    }

    .box_item {
        display: inline-block;
        margin: 0 0.3rem;
        padding: 0;
        width: 130px;
        height: 130px;
    }

    .box_item a {
        cursor: pointer;
    }

    .box_item a img {
        position: relative;
        border: none;
    }

    .box_item a:hover img.small {
        display: none;
        z-index: 0;
    }

    .box_item a img.large {
        display: none;
    }

    .box_item a:hover img.large {
        display: block;
        margin-top: -28px;
        margin-left: -28px;
        z-index: 1000;
    }

    .box_item a img.large--hover {
        display: none;
    }

    .box_item a img.small_two {
        display: none;
    }

    .box_item a img.small--hover {
        display: none;
    }

    .line {
        height: 3px;
        margin: 1.8rem auto;
    }

    .about {
        display: none;
    }

    .news {
        margin: 1.5rem auto 0.3rem;
    }
}

@media screen and (max-width: 768px) {
    .line {
        display: none;
    }

    .box {
        padding: 1rem 0 1rem 0;
    }

    .box_item {
        width: 130px;
        height: 130px;
    }

    .box_item a:hover img.large {
        display: none;
    }

    .box_item a:hover img.large--hover {
        display: block;
    }

    .news {
        flex-direction: column;
        justify-content: center;
    }

    .news_item {
        align-self: center;
        width: 100%;
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .slider {
        padding-bottom: 31%;
        width: 100%;
    }

    .slider ul li div {
        display: none;
    }

    .box {
        padding: 0.5rem auto 0.5rem;
    }

    .box_item {
        width: 110px;
        height: 110px;
    }

    .box_item a img.small {
        display: none;
    }

    .box_item a:hover img.large--hover {
        display: none;
    }

    .box_item a img.small_two {
        display: block;
        width: 110px;
        margin: 0;
    }

    .box_item a:hover img.small_two {
        display: none;
    }

    .box_item a:hover img.small--hover {
        display: block;
        width: 110px;
    }

    .news {
        margin: 0.5rem auto 0;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .news_item {
        border-radius: 4px;
        width: 96%;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        display: inline-block;
        background-color: white;
    }

    .news_item p {
        margin: 0;
        padding: 0;
        text-align: justify;
    }

    .news_img {
        float: left;
        margin: 0 0.5rem 0 0;
    }
}


