.page__header {
    position: relative;
    margin: 0;
    padding: 0;
}

.page__header:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0F1E2C;
    opacity: 0.6;
}

.header__img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header__content {
    font-size: 2vw;
    z-index: 1;
    text-align: left;
    padding: 5em 0 7em 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header__title {
    color: white;
    margin: 1.5rem 4rem;
}

.header__date {
    margin-left: 4rem;
    color: #B9BABB;
}

.page__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 3rem;
}

.content__main {
    margin: 0 3rem 0 0;
    width: 100%;
    text-indent: 2em;
    text-align: justify;
}

@media screen and (max-width: 950px) {
    .page__content {
        display: flex;
        flex-direction: column;
    }

    .content__main {
        margin: 0 0 2rem 0;
    }

    .content__popular {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .page__content {
        padding: 1rem 1.5rem;
    }

    .content__main {
        margin: 0 0 1rem 0;
    }
}

@media screen and (max-width: 480px) {
    .header__title {
        margin: 0 4rem;
    }
}